#form-id {
  border-color: #333333;
  border-radius: 0 0 0 0;
  margin-top: 70px;
}

#form-password {
  border-color: #333333;
  border-radius: 0 0 0 0;
  margin-top: 60px;
}

#btn-login {
  color: black;
  background-color: rgb(182, 215, 168);
  border-color: #333333;
  border-radius: 5px 5px 5px 5px;
  margin-top: 100px;
  font-size: 20px;
}