@import "~bootstrap/scss/bootstrap";

body {
  background-color: rgb(201, 218, 248);
}
.container {
  text-align: center;
}
.title {
  font-size: 5em;
}

@media screen and (min-width:0px){
  /*0px以上で適用する内容*/
}