/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */
header {
  height: 100px;
  padding: 30px 0 10px 0;
}
header h1 {
  font-size: 1.5em;
}
.content {
  background-color: #f5f5f5;
  border: solid 1px #333333;
  margin: 0 auto;
  width: 90%;
  padding: 35px 0 80px 0;
  text-align: center;
}
.content .title {
  font-size: 1em;
}



